
<mat-drawer-container class="mat-drawer-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" opened="true">
        <div class="sidenav-logo"><img class="main-logo" src="/assets/img/simple-crm-logo.png"></div>
        <ul>
            <li routerLink="/" routerLinkActive="router-link-active"><mat-icon>dashboard</mat-icon>Dashboard</li>
            <li routerLink="/user" routerLinkActive="router-link-active"><mat-icon>person</mat-icon>User</li>
        </ul>
    </mat-drawer>
    
    <div class="example-sidenav-content">
        <mat-toolbar class="mat-toolbar-height" color="primary">
            <mat-toolbar-row class="mat-toolbar-height">
                <mat-icon class="mat-sidenav-menu" (click)="drawer.toggle()">menu</mat-icon>
                <span>Simple CRM</span>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div class="router-container">
        <router-outlet />
    </div>
</mat-drawer-container>
  
