<div *ngIf="userSubDetail">
    <mat-card class="user-detail-header" color="primary">
        <button class="option" mat-icon-button matTooltip="Basic" [matMenuTriggerFor]="menuUser">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menuUser="matMenu">
            <button mat-menu-item (click)="editUser()">Edit</button>
            <button mat-menu-item (click)="deleteUser()">Delete</button>
        </mat-menu>
        <mat-card-content class="user-detail-header-content">
            <img class="user-detail-avatar" src="/assets/img/man_1_round.png">
            <div class="user-detail-name">
                <h2>{{ userSubDetail.firstName }} {{ userSubDetail.lastName }}</h2>
                {{ userSubDetail.email }}<br>{{ userSubDetail.birthDate | date }}
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="user-detail-address">
        <button class="option" mat-icon-button matTooltip="Basic" [matMenuTriggerFor]="menuAddress">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menuAddress="matMenu">
            <button mat-menu-item (click)="editAddress()">Edit</button>
        </mat-menu>
        <mat-card-header>
            <mat-card-title>Address</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            {{ userSubDetail.address }}<br>
            {{ userSubDetail.zipCode }} {{ userSubDetail.city }} <br>
        </mat-card-content>
    </mat-card>
</div>